body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #202020;
    color: #ffffff;

    /*background-image: url('https://w.forfun.com/fetch/6d/6dfcc6b806763b6a356a2198184cc9a5.jpeg');
    background-size: cover;
    background-position: center;*/
}


header {
    background-color: #2d2d2d78;
    backdrop-filter: blur(12px);
    margin: 8px;
    padding: 16px 0;
    border-radius: 8px;
}


#img-logo {
    width: 16px;
    height: 16px;
}

#img-logo_full {
    width: 100%;
}


a, u {
    text-decoration: none;
}

code {
    background-color: #000000;
    padding: 2px 4px;
    border: 2px solid #000000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
nav li {
    display: inline-block;
    margin-right: 16px;
}
  
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
    background-color: transparent; /*#32323278*/
}
  
nav a:hover {
    background-color: #3e3e3e;
}

nav #button-main {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
    background-color: #76b9ed;
}

nav #button-main:hover {
    background-color: #6da9d8;
}

@media screen and (max-width: 516px) {
    nav ul {
        flex-direction: column;
    }
  
    nav ul li {
        display: block;
        margin: 0 0 32px 0;
    }

    nav ul li:last-child {
        margin: 0;
    }

    nav ul #separator {
        display: none;
    }
}

/* Стили для кнопок перехода по умолчанию (для больших экранов) */
.navigation-buttons {
    display: none;
}

/* Стили для мобильных устройств */
@media only screen and (max-width: 767px) {
    header {
        display: none;
    }

    .navigation-buttons {
        display: flex;
        justify-content: space-between;
        align-items: stretch; /* Растягиваем кнопки на всю высоту панели */
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;   
        height: 56px; /* Задайте желаемую высоту панели */
        background-color: #00000078;
        backdrop-filter: blur(8px);
        transition: background-color 0.2s ease-out; /* Плавные переходы для фона */
        transition: transform 0.2s ease-out;
        z-index: 1;
    }
  
    .navigation-buttons.hidden {
        transform: translateY(+100%);
    }

    .navigation-buttons a {
        text-decoration: none;
        flex: 1;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 12px;
        color: #ffffff;
        background-color: transparent;
        border: none; /* Убираем границы кнопки */
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Надпись внизу кнопки */
        align-items: center; /* Изображение по центру кнопки */
        transition: background-color 0.2s ease-out; /* Плавные переходы для фона */
    }
  
    .navigation-buttons a img {
        max-height: 50%;
        object-fit: contain;
    }
    
    .button-text {
        padding: 5px;
    }

    .navigation-buttons a:hover {
        background-color: #2d2d2d80;
    }
}



.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column-20 {
    flex: 1;
    max-width: 20%;
    min-width: 256px;
}

.column-80 {
    flex: 1;
    max-width: 80%;
}

@media screen and (max-width: 516px) {
    .column-20,
    .column-80 {
        max-width: 100%;
    }
}

.card {
    padding: 16px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #2d2d2d78;
    backdrop-filter: blur(12px);
}

.news-card {
    padding: 16px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: background-color 0.2s ease-out;
    background-color: transparent;
}

.news-card:hover {
    background-color: #2d2d2d;
}

.nav-card {
    position: sticky;
    top: 8px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    margin-top: 8px;
}

.menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
    background-color: transparent;
}

.menu-list a:hover {
    background-color: #3e3e3e;
}

#feedback-card textarea {
    
}

footer {
    background-color: #2d2d2d78;
    backdrop-filter: blur(12px);
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    bottom: 0;
    margin: 8px;
}
